<div class="card">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre" />
    <div class="card-body">
      <h4 class="card-title">{{ heroe.nombre }}</h4>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="verHeroe()">Ver más</button>
      </p>
    </div>
    <div class="card-footer text-right">
      <small class="text-muted ">Apariciรณn: {{ heroe.aparicion |date: 'dd/MM/yyyy'   }}</small>
    </div>
  </div>
